// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_source{
    margin-top:150px;
}

.container{
    
    font-family: 'Futura';
}
.logo-box{
    
}

.logo{
  color:rgba(0,0,0,0.55);
  font-size:30px;
  text-align:center;
  
  
}

.small-title{
  padding:20px 0px;
  color:lightgray;
  font-size:20px;
  text-align:center;
}
.input-box{
    height:30px;
    width:100%;
    background-color:transparent;
    border: 1px solid gray;
    color:white;
    
    &:focus{
        border: 1px solid lightgray;
        color:white;
    }
    
}

.submint-button{
    color:white;
    border:none;
    padding:15px 74px;
    display:inline-block;
    background-color:gray;
    font-size:16px;
    margin-left:50px;
    margin-top:80px;
}
.sign-in-button{
    margin-top:15px;
    color:#404040;
    width:100%;
    background-color:lightgray;
    border: none;
    height:40px;
    
    &:hover{
        opacity: 0.7;
        transition: 0.3s;
    }
}
.sign-up-button{
    width:100%;
    
    &:hover {
        
    }
}
.ask{
    color:lightgray;
}
.forgot{
    margin-top:10px;
    text-align:center;
    
    a{
        color:gray;
        
    }
}
.sign_up_article{
    margin-top:80px;
}
.sign-up-page-button{
    margin-top:25px;
    color:black;
    height:50px;
    width:100%;
    background-color:skyblue;
    border: none;
    
    &:hover{
        opacity: 0.7;
        transition: 0.3s;
    }
}
.cancel_button{
    margin-top:10px;
    color:black;
    height:40px;
    width:100%;
    background-color: lightgray;
    border: none;
    a{
        color:black;
        &:hover{
            color:black;
        }
    }
    &:hover{
        opacity: 0.7;
        transition: 0.3s;
    }
}
.field{
    height:30px;
    margin-bottom: 15px;
    text-align:center;
}
.login-box{
  background-color:rgba(0,0,0,0.82);
  width:500px;
  height:400px;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}