// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #2ecc71;
$sub-color: #555;
#xxx{
	color:white !important;
	z-index:99;
}

.default_image_size{
	&:hover{
		cursor:pointer;
	}
}
#submit-file{
	&:hover{
		cursor:pointer !important;
	}
}
#image_upload{
	&:hover{
		cursor:pointer !important;
	}
}
.custom_body{
	height:195vh; 
	background-color:black;
	width:100%;
	position : relative;
}
.custom_nav{

	
#submit-file{
	
}
.custom_button_add{
	background:none !important;
	
	color:white !important;
}
	

.btnstyle{
    top: -10px;
    padding: 5px 25px 5px 25px;
   background-color: transparent;
   border-radius: 3px;
  border: 1px solid lightgray;
  color:lightgray;
  a{
  	color:gray;
  }
  

}
.add{
	color:white;
	&:hover{
		background-color: $primary-color !important;
	}
}
}
.playlist-logo{
	text-align: center;
	padding: 30px;
		a{
			text-decoration: none;
			
			&:hover{
			text-decoration: none;
			}
			
			&:focus{
				text-decoration:none;
			}
		}
		h2{
			font-size: 40px;
			color: lightgray;
			
			&:hover{
			opacity: 0.7;
			transition: 0.3s;
			}
		}
		
	}
	
.custom_form{
	height:60px;
	input[type=file]{
		
		color:gray;
	}
	label{
		color:white;
	}
	input{
		
	}
}
.custom_button_reset{
	width:110px;
	height:31px;
	background:none;
	color:white;
	
}
.custom_button_add {
	width:140px;
	height:31px;
	background-color: lightgray;
	color: black;
	
}
.custom_button_add:active {
}
.custom_button_add:hover {
	background-color: $primary-color;
	transition: 0.3s;
}
.custom_button_2{
	text-align:center;
	padding: 3px;
	font-size:13px;
	border: 1px solid gray;
	margin-top:15px;
}


.custom_music{
	top:10px;
	width:100%;
	height:100vh;
	position:relative;
	
	
	.custom_volume{
		width:33%;
		height:140vh;
		text-align:center;
		h3{
			color:white;
		}
	}
	.custom_basic{
		float:left;
		border-right: 1px dotted gray;
		font-family: "Helvetica";
		
		span{
			font-family: "Helvetica";
		}
	}
	
	.custom_natural{
		float:left;
		border-right: 1px dotted gray;
		font-family: 'Kalam', cursive;
		span{
			font-family: 'Kalam', cursive;
		}
	}
	.custom_artificial{
		float:right;
		font-family: 'Kelly Slab', cursive;
		span{
			font-family: 'Kelly Slab', cursive;
		}
	}
}
.player{
	width: 35%;
	height: 50px;
	position: relative;
	display:none;
	justify-content:flex-end;
	margin-right:10%;
	display:flex;
	align-items:center;

}

.volume{
	position: absolute !important; 

	display:none;
	height: 5px !important;
	width: 100%;
	background: #555 !important;
	border: none  !important;
	border-radius: 15px !important;
	
	.ui-slider-range-min {
		height: 5px;
		width: 100%;
		position: absolute;
		background: $primary-color;
		border: none;
		border-radius: 10px;
  	    outline: none;
	}
	
	.ui-slider-handle {
    	width: 14px !important;
      	height: 14px !important;
    	border-radius: 14px !important;
      	background: #FFF !important;
      	position: absolute !important;
      	margin-left: -8px !important;
      	margin-top: 1px !important;
      	cursor: pointer;
      	outline: none;
	}
}


.custom_music_item{

	width:100%;
	height:70px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	
	
	span{
		color:gray;
		margin-left:7%;
		font-weight:700;
		font-size :20px;
		
	}
	span:hover{
		color:white;
		margin-left:7%;
		cursor:pointer;
	}	
}

    .line{
        width:100%;
        height:2px;
        background-color: gray;
        
    }

.music_name{
	
	background-color:transparent;
	border: 1px solid gray;
}

.modal-custom{
	
width:80vw !important;	

}

@media (max-width: 650px) {
	.fix{
		width:100%;
		position:fixed;
		z-index:5;
		background-color:black;
		border-bottom:1px solid gray;
	}
	.custom_body{
		
		height:300vh; 
		background-color:black;
		width:100%;
		position : relative;
	}
	
	.custom_music{
		top:30vh;
		
		width:100%;
		height:260vh;
		position:relative;
		
		
		.custom_volume{
			width:100%;
			height:90vh;
			text-align:center;
			border-bottom:1px solid gray;
			h3{
				color:white;
			}
		}
		.custom_basic{
			float:left;
			border-right: 1px dotted gray;
			font-family: "Helvetica";
			
			span{
				font-family: "Helvetica";
			}
		}
		
		.custom_natural{
			float:left;
			border-right: 1px dotted gray;
			font-family: 'Kalam', cursive;
			span{
				font-family: 'Kalam', cursive;
			}
		}
		.custom_artificial{
			float:right;
			font-family: 'Kelly Slab', cursive;
			span{
				font-family: 'Kelly Slab', cursive;
			}
		}
	}	
		
	
	.volume{
		position: absolute !important; 
	
		display:none;
		height: 5px !important;
		width: 100%;
		background: #555 !important;
		border: none  !important;
		border-radius: 15px !important;
		
		.ui-slider-range-min {
			height: 5px;
			width: 100%;
			position: absolute;
			background: $primary-color;
			border: none;
			border-radius: 10px;
	  	    outline: none;
		}
		
		.ui-slider-handle {
	    	width: 14px !important;
	      	height: 14px !important;
	    	border-radius: 14px !important;
	      	background: #FFF !important;
	      	position: absolute !important;
	      	margin-left: -8px !important;
	      	margin-top: 1px !important;
	      	cursor: pointer;
	      	outline: none;
		}
	}
	
	
	.custom_music_item{
	
		width:100%;
		height:5vh;
		display:flex;
		justify-content:space-between;
		align-items:center;
		
		
		
		span{
			color:gray;
			margin-left:7%;
			font-weight:700;
			font-size :20px;
			
		}
		span:hover{
			color:white;
			margin-left:7%;
			cursor:pointer;
		}	
	}
	
	    .line{
	        width:100%;
	        height:2px;
	        background-color: gray;
	        
	    }
	
	.music_name{
		
		background-color:transparent;
		border: 1px solid gray;
	}
	
	
}


